.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    /* margin-top: 10px; */
}

.form-container{
    width: 400px;
    margin: auto;
}

.newPostForm form {
    max-width: 600px !important;
    margin: auto;

}

.postCardContainer{
    margin: auto;
    max-width: 600px !important;
}

a, a:visited, a:link, a:active{
    color: inherit;
    text-decoration: none;
}